.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
}

.project_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    font-size: 16px;
    cursor: pointer;
}

.project_trash {
    display: flex;
    align-items: center;
}

.project_trash svg {
    color: var(--darkerWhite);
    font-size: 20px;
}

.project:hover .project_trash svg {
    color: var(--black);
}

.project .project_trash svg:hover {
    color: var(--red2);
    cursor: pointer;
}
