.unchecked_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    list-style-type: none;
    height: auto;
    width: 80%;
}

.unchecked_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--darkerWhite);
    border-left: 3px solid var(--red);
    padding: 10px;

    height: auto;
    width: 100%;
}

.unchecked_item:hover {
    box-shadow: -1px 3px 3px -1px var(--red);
}

/* Styling for delete button */
.unchecked_item .item_right svg {
    color: var(--darkerWhite);
}

.unchecked_item:hover .item_right svg {
    color: black;
}

.unchecked_item .item_right svg:hover {
    color: var(--red);
    cursor: pointer;
}