.projectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 100%;
}

.projectForm input {
    border: 1px solid var(--black);
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    width: 90%;
}