#Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding-left: 15px;

    height: 7%;
    width: 100%;
}

#Header i {
    font-size: 35px;
}