* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #1b1717;
    --blue: #00bcd4;
    --liteBlack: #595260;
    --red: #630000;
    --red2: #810000;
    --white: hsl(0, 0%, 98%);
    --darkerWhite: hsl(0, 0%, 90%);
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}