#Lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;

    background-color: var(--white);
    height: 100%;
    width: 80%;
}

.displayUnchecked {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding-top: 30px;
    height: auto;
    width: 100%;
}

.listItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    height: auto;
    width: 90%;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    background-color: var(--darkerWhite);
    border-left: 3px solid var(--red);
    padding: 10px;

    height: auto;
    width: 100%;
}

.item:hover {
    box-shadow: -1px 3px 3px -1px var(--red);
}

.listButton {
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--darkerWhite);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 90%;
}

.listButton:hover {
    background-color: var(--red);
    color: var(--white);
}

.displayChecked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--darkerWhite);
    border-radius: 5px 5px 0 0;
    padding: 5px;
    height: auto;
    width: 90%;
}

.displayCheckedBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-top: 5px;
    height: auto;
    width: 100%;
}

.checkedButtons {
    background-color: var(--liteBlack);
    border: 1px solid var(--darkerWhite);
    color: var(--white);
    cursor: pointer;
    height: 35px;
    width: 25%;
}

.checkedButtons:hover {
    text-decoration: underline;
}

.checkedItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    background-color: var(--liteBlack);
    border-left: 3px solid var(--black);
    color: var(--darkerWhite);
    padding: 10px;
    text-decoration: line-through;

    height: auto;
    width: 100%;
}