#Lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    background-color: var(--white);

    height: 100%;
    width: 80%;
}

.listItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    height: auto;
    width: 90%;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    background-color: var(--darkerWhite);
    border-left: 3px solid var(--red);
    padding: 10px;

    height: auto;
    width: 100%;
}

.listButton {
    background-color: var(--white);
    border: 1px solid var(--darkerWhite);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 90%;
}