#ProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
    gap: 10px;

    background-color: var(--darkerWhite);
    border-right: 1px solid var(--black);
    padding: 10px;
    height: 100%;
    width: 20%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    gap: 5px;

    height: auto;
    width: 100%;
}

.addProjectBtn {
    background-color: var(--darkerWhite);
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
}

.addProjectBtn:hover {
    text-decoration: underline;
}