.Project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
}

.projectItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.la-trash {
    color: var(--darkerWhite);
    font-size: 20px;
}

.Project:hover .la-trash {
    color: var(--black);
}

.Project .la-trash:hover {
    color: var(--red2);

}