header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background-color: var(--red);
    border-bottom: 2px solid var(--black);
    color: var(--white);
    padding: 10px 0 10px 8px;

    height: auto;
    width: 100%;
}