#Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    background-color: var(--red);
    border-bottom: 2px solid var(--black);
    color: var(--white);
    padding-left: 15px;

    height: 7%;
    width: 100%;
}

#Header i {
    font-size: 35px;
}